<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Usuário</title>
</head>
<body>
    <h1>informações do Usuário</h1>
    <form action="{{url_for('salvar_usuario')}}" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome"> <br><br>
        <label for="idade">Idade:</label>
        <input type="number" name="idade" id="idade"> <br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email"> <br><br>
        <button type="submit">Enviar</button>
    </form>
    {% if nome and idade and email %}
        <p>Bem-Vindo, {{nome}}! Idade: {{idade}} | Email: {{email}}</p>
    {% endif %}
    <a href="{{url_for('sair')}}">Sair</a>
</body>
</html>